.card{
    display: block;
    color: rgb(34, 33, 33);
    width: 330px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    
    background-color: rgb(229, 165, 247);

    border: 5px solid black;
    border-radius: 15px;

    padding: 20px;



}
.head{
    display: block;
    margin-left: 80px;
    color: black;
}
